.col-div-container{
    position: relative;
}

.col-div{
    display: block;
    position: absolute;
    margin-top:30px;
    margin-bottom: 30px;
    height: calc(100% - 60px);
    width: 1px;
    background-color: #eaeaea;

}


.padded{
    padding: 6px;
}

.h-divider{
    height: 1px; width: 100%; left:0px; background-color: #eaeaea;
}

.list-large-text{
    text-align: left; font-size: 24px;
}

.bold{
    font-weight: 700;
}

.hover-input-textbox{
    border-bottom: solid;
    border-bottom-width: 1px!important;
    /* border-bottom-color: #848b8f; */
    outline: none;
    margin-top:1px;
}

.label-small{
    font-size:10px;
    font-weight: 400;
}