<div class="listview-outlook">
    <div class="list" ng-click="add_new_agent()">
        <a href="#">
            <div style="padding: 15px">
                Add New Agent...
            </div>
        </a>
    </div>
</div>
<div class="listview-outlook smooth" style=" max-height: 450px; overflow-y: auto">
    <div class="list" style="padding-top: 10px; padding-bottom: 10px; text-align: left"
         ng-repeat="i in system.agent_descriptions ">
        <div class="list-content ">


            <div style="position: relative">
                <div style="display: block; right:10px; position: absolute; padding: 0 10px 0 0">
                    <div class="bold" style="font-size: 32px; display: inline-block">
                        <hover-input reject-empty="1" text="system.agent_list[i.name]" font-size="'42px'"></hover-input>
                    </div>
                </div>
            </div>


            <!--<span class="bold">Agent:</span>-->
            <div class="list-large-text bold">
                <hover-input reject-empty="1" text="i.name" font-size="'26px'"
                             on-change-callback="change_agent_name"></hover-input>
            </div>


            <div style="padding-top: 4px;">
                <span style="display: inline!important;" class="">space  : </span>
                <hover-input reject-empty="1" text="i.space" font-size="'16px'"></hover-input>
            </div>
            <div style="padding-top: 2px;">
                <span style="display: inline!important;" class="">growth : </span>
                <hover-input reject-empty="1" text="i.growth" font-size="'16px'"></hover-input>
            </div>


            <div style="padding-top: 15px;" ng-mouseover="hover_interact[i.name]=true"
                 ng-mouseleave="hover_interact[i.name]=false">
                <div class="alink" style="display: inline-block;" href="#" ng-click="edit_interaction(i)">
                    <span style="display: inline!important;" class="list-title bold">Interactions</span>
                    <span class="mif-tools" ng-if="hover_interact[i.name]==true"></span>
                    <div style="padding-left: 15px; font-size: 12px;">Particles: {{i.particle_interaction.length}},<br/>
                        Non-particles: {{i.non_particle_interaction.length}}<br/>
                        Passive: {{i.passive_interaction.length}}
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<div data-role="dialog" id="interaction_dialog" data-overlay="true" data-overlay-color="op-dark"
     style="width: 600px; height: 600px" data-close-button="false">
    <interactions></interactions>
</div>