<div style="width: 600px; height: 600px; position: relative; overflow-y: auto">
    <h3 style="padding :10px">interactions of agent : {{agent.name}}</h3>
    <div class="h-divider"></div>
    <div style="width: 100%; height: calc(100% - 11px); overflow-y: auto">

        <div class="listview-outlook">
            <div class="list-group" style="font-size: 20px ;">
                <span class="list-group-toggle">
                    particle interactions
                </span>
                <div class="list-group-content">
                    <div class="list alink-lite" style="padding-left: 32px;" ng-repeat="i in particle_interaction">

                        <div class="grid">
                            <div class="row cells3">
                                <div class="cell colspan2">
                                    <select ng-model="i.name">
                                        <option ng-if="!already_has_pi(i) || i.name==x.name"
                                                ng-selected="i.name==x.name"
                                                ng-repeat="x in system.particle_descriptions" value="{{::x.name}}">
                                            {{::x.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="cell">
                                    <hover-input reject-empty="true" force-number="float" text="i.amount"
                                                 font-size="'20px'"></hover-input>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="link alink alink-lite" style="padding: 10px 10px 10px 32px ;"
                         ng-if="system.particle_descriptions.length>particle_interaction.length"
                         ng-click="add_pi()">
                        add particle interaction ...

                    </div>
                </div>
            </div>
            <div class="list-group" style="font-size: 20px ;">
                <span class="list-group-toggle">
                    non particle interactions
                </span>
                <div class="list-group-content">
                    <div class="list alink-lite" ng-repeat="i in non_particle_interaction" style="padding-left: 32px;">
                        <div class="grid">
                            <div class="row cells7">
                                <div class="cell colspan2" style="padding: 5px; font-size: 26px;">

                                    <hover-input reject-empty="1" text="i.name"></hover-input>
                                </div>
                                <div class="cell "
                                     style="padding: 5px; font-size: 26px;">
                                    <hover-input reject-empty="1" force-number="float" text="i.amount"></hover-input>
                                </div>
                                <div class="cell colspan3">
                                    <div class="toolbar">
                                        <div class="image-button icon-right"
                                             ng-repeat="(agent_name, amount) in i.choice"
                                             style="padding-top: 4px; padding-bottom: 4px">
                                            <select ng-model="agent_name" style="padding: 3px;">
                                                <option ng-selected="agent_name==x.name"
                                                        ng-repeat="x in system.agent_descriptions" value="{{::x.name}}">
                                                    {{::x.name}}
                                                </option>
                                            </select>
                                            <hover-input reject-empty="1" force-number="int" text="amount"
                                                         font-size="'22px'"></hover-input>
                                            <span class="icon mif-cross" ng-click="delete_choice(i, agent_name)"></span>
                                        </div>
                                        <div class="toolbar-button" ng-click="new_choice(i)">
                                            <span class="mif-plus"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell "
                                     style="padding: 5px; font-size: 26px;">
                                    <span class="alink fg-red mif-cross" ng-click="del_npi($index)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list alink alink-lite" style="padding: 10px 10px 10px 32px ;" ng-click="new_npi()">
                        add non particle interaction ...
                    </div>
                </div>
            </div>
            <div class="list-group" style="font-size: 20px ;">
                  <span class="list-group-toggle">
                    passive Interactions (for reference in genetic algorithm)
                </span>
                <div class="list-group-content">
                    <div class="list alink-lite" ng-if="passive_interaction.length>0" style="padding-left: 32px;">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="">Regarded As</th>
                                <th class="">By</th>
                                <th class="">Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="i in passive_interaction" style="font-size: 24px;">
                                <td style="padding: 5px">
                                    <hover-input text="i.asTarget" font-size="'24px'"></hover-input>
                                </td>
                                <td>
                                    <select ng-model="i.by">
                                        <option ng-selected="i.by==x.name" ng-repeat="x in system.agent_descriptions"
                                                value="{{::x.name}}">{{::x.name}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <hover-input text="i.amount" font-size="'24px'"></hover-input>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="list alink alink-lite" style="padding: 10px 10px 10px 32px ;"
                         ng-click="new_passive_i()">
                        add new passive interaction ...
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<button class="button" style="position: absolute; top: 101%" ng-click="save()">Save Interaction</button>
<button class="button" style="position: absolute; top: 101%; left: 150px"
        ng-click="close()">Cancel
</button>