<div class="listview-outlook" style="position: relative">
    <div class="list">
        <a href="#">
            <div style="padding: 15px" ng-click="add_particle()">

                Add New Particle...
            </div>
        </a>
    </div>
</div>
<div class="listview-outlook" style="position: relative; overflow-y: auto; max-height: 450px;">

    <div class="list" style="padding-top: 10px; padding-bottom: 10px; text-align: left"
         ng-repeat="i in system.particle_descriptions"
         ng-mouseover="hover[i.name]=true"
         ng-mouseleave="hover[i.name]=false">
        <div class="list-content">

            <!--<span class="bold">-->
            <!--Particle:-->
            <!--</span>-->
            <div style="display: inline-block; right:10px; position: absolute; padding: 10px; width: 80px; text-align: center">
                <!--<a style="display: inline" href="#" ng-if="hover[i.name]===true"><span class="mif-minus fg-gray"></span></a>-->
                <div>
                    <hover-input text="system.particle_list[i.name]" font-size="'32px'" font-weight="700"></hover-input>
                </div>
                <!--<a style="display: inline" href="#" ng-if="hover[i.name]===true"><span class="mif-plus fg-gray"></span></a>-->
            </div>

            <div class="list-large-text">
                <hover-input text="i.name"></hover-input>
            </div>
            <div style="padding-top: 10px; color: #cacaca">
                Growth (per step):
                <hover-input text="i.growth" font-size="'20px'" color="'#cacaca'"></hover-input>
            </div>

        </div>
    </div>


</div>