<div class="cell" style="width: 190px; height: 100vh;">

    <div style="padding:5px; display: inline-block; font-size: 30px">Systems</div>
    <div class="listview-outlook" style="position: relative;width: 180px">
        <div class="list">
            <a href="#">
                <div style="padding: 15px" ng-click="add_system()">

                    + New System
                </div>
            </a>
        </div>
    </div>
    <div class="listview-outlook" style="position: relative; width: 180px" >
        <div class="list" ng-repeat="i in systems" ng-click="select(i)" style="padding: 10px 0 10px 10px">

            <img src="../../image/gene.png" class="list-icon" style="width: 32px">
            {{i.name}}
        </div>
    </div>
</div>